@model IEnumerable<UMS.Models.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@Html.ActionLink("Add Student", "New", "Students", new { @class = "btn btn-primary", @style="float:right" })

<h2>Students</h2>
<table id ="students" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Batch</th>
            <th>Department</th>
            <th>Program</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@Html.ActionLink(student.Name, "Details", "Students", new {id = student.Id }, null)</td>
                <td>@student.BatchYear</td>
                <td>@student.Department.Name</td>
                <td>@student.Program.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Students", new { id = student.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            $('#students').DataTable({
                "bSort": false
            });
        });
    </script>

    @*<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js">
    </script>*@
}